# https://caddyserver.com/docs/caddyfile/options
{
	admin off
	email inyoka@i.localhost
	# TODO https://caddyserver.com/docs/caddyfile/options#timeouts
	# TODO https://caddyserver.com/docs/caddyfile/options#log
}

(common) {
	header -Server
	header Strict-Transport-Security max-age=31536000;
}

{{ config "inyoka-base-domain" }},
forum.{{ config "inyoka-base-domain" }},
paste.{{ config "inyoka-base-domain" }},
wiki.{{ config "inyoka-base-domain" }},
planet.{{ config "inyoka-base-domain" }},
ikhaya.{{ config "inyoka-base-domain" }} {
	reverse_proxy inyoka-worker:8000

	import common
}


{{ config "inyoka-media-domain" }} {
	root * /srv/www/media
	file_server

	import common
}

{{ config "inyoka-static-domain" }} {
	root * /srv/www/static
	file_server {
		precompressed gzip
	}

	import common
	header Access-Control-Allow-Origin "*"
}

# remove www
# https://caddyserver.com/docs/caddyfile/patterns#redirect-www-subdomain
www.{{ config "inyoka-base-domain" }} {
	redir https://{labels.1}.{labels.0}{uri}

	import common
}
www.forum.{{ config "inyoka-base-domain" }},
www.paste.{{ config "inyoka-base-domain" }},
www.wiki.{{ config "inyoka-base-domain" }},
www.planet.{{ config "inyoka-base-domain" }},
www.ikhaya.{{ config "inyoka-base-domain" }},
www.{{ config "inyoka-static-domain" }},
www.{{ config "inyoka-media-domain" }} {
	redir https://{labels.2}.{labels.1}.{labels.0}{uri}

	import common
}
