#
# Special Caddyfile intended for environments
# where this caddy is already behind a proxy
#
# https://caddyserver.com/docs/caddyfile/options
{
	admin off
	email {{ config "caddy-email" }}
	log {
		format console
	}
	auto_https off
}

(common) {
	header -Server
	header Strict-Transport-Security max-age=31536000;
	header X-Content-Type-Options nosniff
	header X-Robots-Tag noindex

	request_body {
		max_size 10MB
	}

	#log {
	#	format console
	#}

	handle_errors {
		root * /srv/www/templates/
		rewrite * /error_template.html
		templates
		file_server

		header Cache-Control no-cache
		header Content-Type "text/html; charset=utf-8"
	}

	rewrite /favicon.ico /img/favicon.ico
	file_server /img/favicon.ico {
		root /srv/www/static
	}
}

(static-robots) {
	file_server /robots.txt {
		root /srv/www/static
	}
}

http://{{ config "inyoka-base-domain" }},
http://forum.{{ config "inyoka-base-domain" }},
http://paste.{{ config "inyoka-base-domain" }},
http://wiki.{{ config "inyoka-base-domain" }},
http://planet.{{ config "inyoka-base-domain" }},
http://ikhaya.{{ config "inyoka-base-domain" }} {
	@exclude {
		not path /img/favicon.ico
		not path /robots.txt
	}
	reverse_proxy @exclude inyoka-worker:8000 {
		trusted_proxies private_ranges
	}

	import common
	import static-robots
}


http://{{ config "inyoka-media-domain" }} {
	root * /srv/www/media
	file_server

	import common
	header Cache-Control max-age=2592000 # 30 days

	@exclude {
		not path /linkmap/*
		not path /favicon.ico
		not path /robots.txt
	}
	header @exclude Content-Type application/octet-stream
}

http://{{ config "inyoka-static-domain" }} {
	root * /srv/www/static
	file_server {
		precompressed gzip
	}

	import common
	import static-robots
	header Access-Control-Allow-Origin "*"
	header Cache-Control max-age=2592000 # 30 days
}

# www removal redirects are already done on first proxy
